/*                       导航条              */
header{
    width: 100%;
    background-color: #fff;
}
.head{
    width: 1150px;
    margin: 0 auto;
}
.head:before{
    content: "";
    display: table;
    clear: both;
}
.head:after{
    content: "";
    display: table;
    clear: both;
}
.logo{
    float: left;
}
.logo a{
    background-image: url("images/logo.png") ;
    background-position: 10px -365px;
    width: 137px;
    height: 66px;
    display: block;
    background-color: #007aff;
}
.nav{
    float: right;
}

.nav li{
    height: 66px;
    line-height: 66px;
    display: inline-block;
    color: #090909;
    box-sizing: border-box;

}
.nav li a{
    color: #2c3e50;
    font-size: 14px;
    display: block;
    padding: 0 10px;
    width: 60px;
    text-align: center;
}
.nav li a:hover{
    color: #fff;
    background-color: #007DDB;
}





/*                       轮播图                    */
.pc-slide {
    width: 800px;
}

.view .swiper-container {
    width: 800px;
    height: 533px;
}

.view .arrow-left {
    background: url(images/index_tab_l.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
}

.view .arrow-right {
    background: url(images/index_tab_r.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 28px;
    height: 51px;
    z-index: 10;
}

.preview {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.preview .swiper-container {
    width: 430px;
    height: 82px;
    margin-left: 35px;
}

.preview .swiper-slide {
    width: 87px;
    height: 82px;
    cursor:pointer;
}

.preview .slide6 {
    width: 82px;
}

.preview .arrow-left {
    background: url(images/feel3.png) no-repeat left top;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.preview .arrow-right {
    background: url(images/feel4.png) no-repeat left bottom;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    width: 9px;
    height: 18px;
    z-index: 10;
}

.preview img {
    padding: 1px;
}

.preview .active-nav img {
    padding: 0;
    border: 1px solid #F00;
}

/*                         房源内容               */
.house-rs{
    width: 1150px;
    margin: 0 auto;
}
.house-lt{
    width: 800px;
    float: left;
}
.house-nav{
    height: 99px;
    padding-top: 26px;
}
.house-nav h4{
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}
.house-nav p{
    color: #959ea7;
    padding-top: 10px;
    padding-left: 10px;
}
.house-nav div{
    width: 100%;height: 18px;
}

.house-rt{
    float: left;
    width: 345px;
    margin-left:3px;
}
.house-rt .house-price-time{
    background-color: #fff;
    margin-left: 5px;
    padding-top: 10px;
}
.price{
    height: 46px;
    padding: 0 10px;

}
.price .money{
    color: #f05672;
    float: left;
}
.price .money span{
    font-size: 36px;
}
.price .meiwan{
    padding-top: 20px;
    float: right;
    line-height: 22px;
    margin-right: 5px;
}
.date{
    padding: 0 15px;
    clear: both;
    position: relative;
    margin-top: 10px;
}
.date .date-range{
    width: 310px;
    height: 40px;
    background-color: #f5f5f5;
    outline: none;
    line-height: 40px;
    border: none;
    vertical-align: top;
    color: #2c3e50;
    padding-left: 7px;
    background: #f5f5f5;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    padding-right: 40px;
    box-sizing: border-box;
}
.date-icon{
    position: absolute;
    top: 11px;
    right: 25px;
    background: url("images/sprice.png") no-repeat 0 -103px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.bt a{
    display: block;
    width: 310px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #f05b72;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.bt a:hover{
    background: #e33555;
}
.white_bg {
    background: #fff;
}
.cal_box {
    width: 340px;
    height: 56px;
    border-top: 1px solid #ecf0f1;
    margin-top: 10px;
    font-family: "Verdana";
}
.cal_box li.end {
    color: #959ea7;
}
.cal_box li {
    float: left;
    position: relative;
    width: 56px;
    height: 34px;
    line-height: 17px;
    text-align: center;
    font-size: 12px;
    border-right: 2px solid #ecf0f1;
    margin: 10px 0 12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.cal_box li a, .cal_box li a:hover {
    color: #2c3e50;
    text-decoration: none;
}
.line_none_r {
    border-right: none!important;
}