@CHARSET "UTF-8";
body {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
div {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dl {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dt {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dd {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ul {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ol {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
li {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h1 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h2 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h3 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h4 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h5 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h6 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
form {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
legend {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
input {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
button {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
textarea {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
select {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
p {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
th {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
td {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
body {
	font: 12px/1.5 arial, helvetica, "宋体", sans-serif; background: #fff
}
h1 {
	font-size: 100%
}
h2 {
	font-size: 100%
}
h3 {
	font-size: 100%
}
h4 {
	font-size: 100%
}
h5 {
	font-size: 100%
}
h6 {
	font-size: 100%
}
ul {
	list-style-type: none; outside: none
}
ol {
	list-style-type: none; outside: none
}
a {
	outline-style: none; outline-color: invert; outline-width: 0px; color: #666; text-decoration: none
}
a:hover {
	outline-style: none; outline-color: invert; outline-width: 0px; color: #f60; text-decoration: none
}
var {
	font-style: normal
}
em {
	font-style: normal
}
table {
	border-spacing: 0; border-collapse: collapse
}
input {
	outline-style: none; outline-color: invert; outline-width: medium; resize: none
}
select {
	outline-style: none; outline-color: invert; outline-width: medium; resize: none
}
textarea {
	outline-style: none; outline-color: invert; outline-width: medium; resize: none
}
fieldset {
	border-bottom: 0px; border-left: 0px; vertical-align: middle; border-top: 0px; border-right: 0px
}
img {
	border-bottom: 0px; border-left: 0px; vertical-align: middle; border-top: 0px; border-right: 0px
}
.clear {
	line-height: 0; display: block; height: 0px; clear: both; font-size: 0px; overflow: hidden
}
.w {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.fr {
	float: right
}

.fl {
	float: left
}

.m {
	margin-top: 13px
}